* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
*::selection{
    background-color: #0D73771A;
    color: #0D7377;
}
body{
    background: linear-gradient(145deg, rgba(246,246,246,1) 0%, rgba(213,227,228,1) 100%);
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin:  100px auto;
    display: none;
    gap: 0% 10%;
}
.left, .right {
    width: 50%;
}
.left {
    position: relative;
}
.fixed-container {
    position: sticky;
    top: 100px;
}

.my-name {
    font-size: 64px;
    font-weight: 800;
    background: linear-gradient(145deg, #969699, #1E1E22);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    cursor: pointer;
}
.my-title{
    font-size: 32px;
    font-weight: 600;
    color: #5E5E63;
    margin-top: 5px;
}
.my-brief{
    color: #5E5E63;
    font-size: 24px;
    font-weight: 400;
    margin-top: 38px;
}
.nav {
    margin-top: 38px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav span {
    color: #919194;
    font-family: "inter";
    font-weight: 600;
    font-size: 16px;
    transition: width 0.3s ease, color 0.3s ease;
}
.about-nav-decorator, .project-nav-decorator {
    display: inline-block;
    width: 20px;
    height: 2.5px;
    margin-right: 5px;
    background-color: #919194;
    
}
.about-nav{
    margin-bottom: 10px;
}
.about-text{
    color: #5E5E63;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}
.full-project-container{
    user-select: none;
    width: 100%;
    margin-top: 50px;
}
.project-container{
    width: 100%;
    background-color: #ECEFF1;
    padding: 15px;
    border-radius: 3px;
    color: #5E5E63;
    margin-top: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.project-container:hover{
    background-color: #F6F6F6;
    box-shadow: 2px 1px 16.1px 1px rgba(13,115,119,0.25);
    transform: scale(1.03);
}

.project-content {
    display: flex;
    align-items: flex-start;
}
.project-img {
    margin-right: 15px; 
    border-radius: 3px;
    margin-top: 5px;
}
.project-details {
    flex: 1; 
}
.project-title {
    font-weight: 500;
    font-size: 24px;
    color: #1E1E22;
}
.project-desc {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 0px 10px; 
}

.tag {
    margin-top: 10px;
    background-color: #0D73771A;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 15px;
    color: #0D7377;
}
a {
    text-decoration: none;
}
.communication {
    margin-top: 38px;
    display: flex;
    gap: 0 15px;
}
.communication a:hover svg {
    fill: #1E1E22;
}
.communication svg {
    transition: fill 0.3s ease;
}
svg {
    height: 24px;
    width: 24px;
    fill: #919194;
}
.view-all-projects{
    display: flex;
    margin-top: 30px;
    color: #919194;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    gap: 0 5px;
    transition: color 0.3s ease, stroke 0.3s ease;
}
.view-all-projects:hover{
    color: #1E1E22;
}
.view-all-projects:hover svg path {
    stroke: #1E1E22;
}
.view-all-projects svg{
    width: 16px;
    height: 16px;
}
.view-all-projects svg path {
    stroke: #919194;
    transition: stroke 0.3s ease;
}
.view-dashboard{
    display: none;
}
h3 {
    font-family: "inter";
    font-weight: 600;
    font-size: 24px;
    display: none;
    color: #454549;
    margin: 15px 0;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left {
        width: 100%;
        margin-bottom: 20px; /* Add space between sections on mobile */
    }

    .right {
        width: 100%;
    }
    .about-text{
        padding: 0;
    }
    h3{
        display: block;
    }
    .full-project-container{
        margin: 0;
    }
}

/* Media queries for extra small screens */
@media (max-width: 480px) {
    .container {
    }
    

}